<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%5.5thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.jterrier" level="DEBUG"/>
    <logger name="Exposed" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>